.changePasswordContainer  
{
 
        border: 1px solid;
        margin-top: 15px;
        padding: 10px; 
  
}

.changePasswordContainer section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}