.UserCard {  
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px; 
  border-radius: 3px; 
  max-width: 100%; 
}

.UserCard div { 
    display: flex;
    justify-content: start;
    align-items: center;
    text-transform: capitalize;
    border-radius: 1px; 
    gap: 10px;
    padding: 5px 30px; 
}

.UserCard .CardHeader {
  grid-column: 1/-1;
  text-align: center;
}
